.mail-preview td {
    border-bottom: 1.5px solid var(--border-color);
}

p.long-txt {
    margin: 0;
}

.mail-preview:hover {
    box-shadow: 0px 1px 5px 0px var(--shadow-color);
    cursor: pointer;
}

.read {
    background-color: var(--shown-mail-bg-color);
}

.unread.mail-preview {

    >.mail-from,
    .mail-subject,
    .mail-body,
    .mail-date {
        font-weight: bold;
    }
}

td>.icon.outlined::before {
    color: var(--shadow-color);
}

.mail-preview:hover td>.icon.outlined::before {
    color: var(--icon-color);
}