   .mail-search{
       display: grid;
       grid-template-columns: subgrid;
       grid-area:m-header;
       align-items: center;
   }


   form.search-bar {
       grid-area:m-header;
       display: flex;
       background-color: var(--search-color);
       border-radius: 50px;
       box-shadow: 0px 1px 3px 0px transparent;
       height: 3.5rem;
       transition: box-shadow 0.2s ease, background-color 0.2s ease;
       width:70%;
       margin-inline:auto;
   }

   .mail-filter select,
   label.sentAt {
       font-family: roboto-light;
       margin-inline-start: 1em;
       justify-self: center;
       align-self: center;
       border: 1px solid var(--border-color);
       background-color: white;
       border-radius: 50px;
       padding-inline: .2em;
   }

   label.active {
       background-color: var(--hover-color);
   }

   .mail-filter label.sentAt>input {
       display: none;
   }

   form>input {
       background-color: transparent;
       width: 90%;
       border: none;
   }

   input:focus {
       outline: none;
   }

   .search-bar:focus-within {
       background-color: transparent;
       box-shadow: 0px 1px 5px 0px var(--shadow-color);
   }