.mail-menu button>span {
    margin-inline-start: 1.5rem;
    text-transform: capitalize;
    color: var(--icon-color);
    opacity: 0;
}

.mail-menu .menu-btn {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-self: center;
    align-items: center;
    background-color: transparent;
    border-radius: 0 50px 50px 0;
    font-family: roboto-bold;
}

.mail-menu .menu-btn:hover:not(.compose),
.mail-menu .menu-btn.active {
    background-color: var(--hover-color);
}

.mail-menu.aside.closed {
    position: absolute;
    left:-10px;
    width: 40px;
    height: 100%;
    background-color: var(--main-bg-color);
    transition: width 300ms ease-in-out;

    >.menu-btn.active {
        background-color: transparent;
    }
}

.mail-menu.aside.open- {
    height: 100%;
    width: 150px;
    transition: width 300ms ease-in-out;
    box-shadow: 9px -3px 20px 0px var(--hover-color);

    >button,
    span {
        opacity: 1;
        transition: opacity 500ms ease-in-out;
        margin-inline-end: 1em;

        >span.flex {
            width: 100%;
        }
    }
}

i.compose.active {
    background-color: var(--compose-mail-bg-color);
    border-radius: 15px;
    padding: .2em;
}

.mail-menu .compose {
    background-color: var(--compose-mail-bg-color);
    border-radius: 15px;
}

.mail-menu img.active {
    background-color: var(--hover-color);
    border-radius: 50%;
    cursor: pointer;
}