.mail-details-content {
    font-size: clamp(.825rem, 2vw, 1.5rem);

    >p {
        padding-block: .3em;
        margin-inline-start: .825em;
    }
}

p.mail-body-content {
    width: 70%;
}

.mail-d-actions {
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);

    .icon::before {
        font-size: clamp(1rem, 4vw, 2rem);
        margin-inline-start: .3em;
    }
}

.mail-actions {
    max-width: 100%;
}

p.mail-subject-content {
    font-family: 'lato', Arial, Helvetica, sans-serif;
    font-weight: 700;
    border-bottom: 1px solid var(--border-color);
}