.mail-search:not(.mail-filter) {
    display: grid;
    grid-template-columns: .2fr .5fr .5fr .5fr 4fr 1fr;
    grid-template-areas:
        "menu logo . . search  . ";
    align-items: center;

    >.mail-logo {
        grid-area: logo;
    }
}

.search-bar {
    grid-area: search;
    display: flex;
    background-color: var(--search-color);
    border-radius: 50px;
    box-shadow: 0px 1px 3px 0px transparent;
    height: 3.5rem;
    transition: box-shadow 0.2s ease, background-color 0.2s ease;
}

.mail-filter,
select {
    display: flex;
    margin-inline: 1em;
    align-self: center;

    border-radius: 50px;
}

form>input {
    background-color: transparent;
    width: 90%;
    border: none;
}

input:focus {
    outline: none;
}

.search-bar:focus-within {
    background-color: transparent;
    box-shadow: 0px 1px 5px 0px var(--shadow-color);
}