:root {

    /* --main-bg-color: lightblue; */
    --main-bg-color: #f6fafd;
    --shown-mail-bg-color: #f2f6fc;
    --unshown-mail-bg-color: #ffffff;
    --compose-mail-bg-color: #c2e7ff;
    --selected-color: #d3e3fd;
    --hover-color: #2021240d;
    --search-color: #eaf1fb;
    --shadow-color: #c1c1c1;
    --icon-color: #444746;
    --border-color: #e0e0e0;
    --keep-selected-color: #feefc3;

    --layout-padding: 1.6rem
}