body {
    margin: 0;
    font-family: 'roboto', Arial, Helvetica, sans-serif, monospace;
    font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
p{
    margin:0;
}
a {
    text-decoration: none;
    color: inherit;
}

input {
    font-size: inherit;
}

img {
    height: 100%;
    width: 100%;
}

button{
    border:none;
    cursor:pointer
}

img,
embed,
video,
object {
    max-width: 100%;
}