.container:not(footer) {
    padding-inline-start: var(--layout-padding);
}
/* App layout */
.root-cmp {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.routes-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Mail layout */
@media (min-width: 700px) {

    .mail-index {
        position: relative;
        display: grid;
        grid-template-columns: 3% 97%;
        grid-template-rows: auto 1fr;
        grid-template-areas:
            "m-header m-header"
            "aside main";
        row-gap: .3rem;
    }

    header {
        grid-area: header;
    }

    .m-header {
        grid-area: m-header;
    }

    .mail-menu.aside {
        grid-area: aside;
    }

    .main {
        grid-area: main;
    }

    footer {
        grid-area: footer;
        min-height: 10vh;
    }
}



/* Note layout */
.note-index {
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 1fr 1fr auto;
    row-gap: 10px;
}

.note-list {
    column-count: auto;
    column-width: 250px;
    overflow-y: auto;
    overflow-x: auto;
    max-height: max-content;

    grid-column: 2;
    grid-row: 3;
}

.create-container {
    grid-column: 2 / 3;
    grid-row: 2;
    /* justify-self: stretch; */
}

.search.input {
    grid-column: 2 / 3;
    grid-row: 1;
}