.container:not(footer) {
    padding-inline-start: 1em;
}

/* App layout */
.root-cmp {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.routes-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Mail layout */
@media (min-width: 700px) {

    .mail-index {
        position: relative;
        display: grid;

        grid-template-columns: .2fr 9fr;
        grid-template-rows: 70px 50px 1fr;
        grid-template-areas:
            "m-header m-header"
            "aside mail-filter"
            "aside main";
        row-gap: .3rem;
    }

    .m-header {
        grid-area: m-header;
    }

    .mail-filter {
        grid-area: mail-filter;
        display: grid;
    }

    .mail-menu.aside {
        grid-area: aside;
    }

    .main {
        grid-area: main;
    }
}



/* Note layout */
.note-index {
    display: grid;
    grid-template-columns: 70px 1fr;
    grid-template-rows: 1fr 1fr auto;
    row-gap: 10px;
}

.note-list {
    column-count: auto;
    column-width: 250px;
    overflow-y: auto;
    overflow-x: auto;
    max-height: max-content;

    grid-column: 2;
    grid-row: 3;
}

.side-bar {
    grid-row: 2/4;
}

.create-container {
    grid-column: 2 / 3;
    grid-row: 2;
    place-self: center center;
}

.search.input {
    grid-column: 2 / 3;
    grid-row: 1;
}

.burger-icon {
    grid-column: 1;
    place-self: center center;
    width: 100%;
    height: 100%;
}