
.create-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-inline: 1rem;
    padding: 10px;
    border: solid 1px;
    border-radius: .5em;
    height: 1.5em;
    font-size: 1.2em;  
    background-color: rgb(241, 203, 157);
}

.create-container input {
    border: none;
    font-size: inherit;
    outline: none;
    width: 90%;
    background-color: rgb(241, 203, 157);
}

.create-container button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: inherit;
    opacity: 0.5;
}

.create-container button:hover {
    opacity: 0.8;
    scale: 1.1;
    transition: .3s;
}

.create-icons {
    display: flex;
    gap: 5px;
}

.fa.active {
    opacity: 1;
    scale: 1.1;
}
