footer {
    border-top: 1px solid var(--border-color);
    padding-block: 2rem 1.5rem;
    margin-block-start: auto;
    font-family: "lato-light";
    color: var(--icon-color);
    justify-content: center;
    font-size: clamp(.6rem, 3vw, 1rem);


    >.apsus-logo {
        max-width: 200px;
    }
}