.app-header {
    font-family: lato-light;
    color: gray;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-bg-color);
    border-bottom: 1px solid var(--border-color);
    max-height:4em;
}

.apsus-logo {
    width: 200px;
}

.mail-logo,
.note-logo {
  height: 3.125rem;
    width: 3.125rem;
}

.nav-bar{
    display:flex;
    flex-direction: row;
}

.nav-bar a{
     display: grid;
    place-items: center;
    height: 4.125rem;
    width: 4.125rem;
}

nav a.active {
    border-bottom: 1px solid black;
}