.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-bg-color);
    /* border-bottom: 1px solid var(--border-color); */
}

nav a {
    /* margin: .5em; */
}

nav a.active {
    color: var(--color1);
    font-weight: bold;
    text-decoration: underline;
}

.apsus-logo {
    width: 200px;
}

.mail-logo,
.note-logo {
    padding-inline: .5em;
    padding-block: .3em;
    width: 60px;
    height: 64px;
    object-fit: contain;
}

.mail-logo:hover,
.note-logo:hover {
    background-color: var(--hover-color);
    border-radius: 50%;
}