
.create-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto;
    padding: 10px;
    border: solid 1px;
    border-radius: .5em;
    height: 1.5em;
    font-size: 1.2em;  
    width: 70%;
}

.create-container input {
    border: none;
    height: 95%;
    width: 70%;
    font-size: inherit;
    outline: none;
}

.create-container button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: inherit;
    opacity: 0.5;
}

.create-container button:hover {
    opacity: 0.8;
    scale: 1.1;
    transition: .3s;
}

.fa.active {
    opacity: 1;
    scale: 1.1;
}
