 .home-container {
     font-family: lato-light;
     text-align:center;
     font-size: 22px;
     color: var(--icon-color);
     background-color: var(--main-bg-color);
     height:80vh;
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 3em;

     >.p-welcome {
        display:flex;
        align-self:center;
         padding-block: 1em;
         padding-inline: 1em;
     }
 }

 .box-container {
     display: flex;
     flex-direction: column;
     padding: 1em 0;
     gap: 10vw;
 }

 .mail-card,
 .note-card {
     background-color: white;
     border-radius: 10px;
     border: .1px solid var(--shadow-color);
     min-height: 16em;
     max-width: 15em;

     >h1 {
         padding-block: 1em;
     }

     >p {
         padding-inline: 2em;
         text-align: center;
     }
 }

 .box-container button {
     color: rgb(163, 158, 158);
     font-size: 20px;
     padding: .4em.8em;
     border-radius: 10px;
     background-color: transparent;
     border: .1px solid var(--border-color);
 }

 .box-container button:hover {
     transition: .3s;
     box-shadow: 0 0 10px 0px var(--shadow-color);
 }

 .note-card:hover,
 .mail-card:hover {
     box-shadow: 0 0 10px 0px var(--shadow-color);
     transition: .3s;
 }

 @media (min-width: 750px) {
     .box-container {
         display: flex;
         justify-items: space-between;
         flex-direction: row;
     }
 }