@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");
/* @import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Filled"); */

.icon::before {
    font-family: 'Material Symbols Outlined';
    color: var(--icon-color);
    padding: .2rem;
    font-style: normal;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    font-size: 22px;
    display: inline-block;
    vertical-align: middle;
    object-fit: contain;
    cursor: pointer;
}

.icon.outlined:hover:not(.icon.search, .icon.compose)::before {
    background-color: var(--hover-color);
    border-radius: 50%;
}

.icon.delete::before {
    content: "delete";
}
.icon.trash::before {
    content: "delete";
}

.icon.search::before {
    content: "search";
    font-size: 30px;
    margin-inline-start: 1rem;
}

i.icon.search {
    margin-block: auto;
}

.starred {
    padding: .2em;
    width: 21px;
    height: 21px;
}

.m-inbox {
    padding: .15rem;
    width: 24px;
    height: 24px;
}

.m-star {
    padding: .15rem;
    width: 24px;
    height: 24px;
}

.m-sent {
    padding: .15rem;
    width: 24px;
    height: 24px;
}

.m-draft {
    padding: .15rem;
    width: 24px;
    height: 24px;
}

.m-trash {
    padding: .15rem;
    width: 24px;
    height: 24px;
}

.starred:hover {
    background-color: var(--hover-color);
    border-radius: 50%;
}

.icon.add::before {
    content: "add";
}

.icon.star::before {
    content: "star";
}

.icon.sent::before {
    content: "send";
}

.icon.menu::before {
    content: "dehaze";
    font-size: 30px;
}

.icon.inbox::before {
    content: "inbox";
}

.icon.draft::before {
    content: "draft";
}

.icon.compose::before {
    content: "edit";
    font-size: 30px;
}

.icon.arrow-back::before {
    content: "arrow_back";
}

.icon.checkbox::before {
    content: "check_box_outline_blank";
}

.icon.reply::before {
    content: "reply";
}

.icon.mark-unread::before {
    content: "mark_as_unread";
}

.icon.mark-read::before {
    content: "mark_email_read";
}

.icon.checkbox-checked::before {
    content: "check_box";
}