
.fa {
    font-family: fa;
}

.fa.bell-icon::before {
    content: "\f0f3";
}

.fa.txt-icon::before {
    content: "\f031";
}

.fa.img-icon::before {
    content: "\f03e";
}

.fa.film-icon::before {
    content: "\f008";
}

.fa.list-icon::before {
    content: "\f0ca";
}

.fa.pin-icon::before {
    content: "\f08d";
}

.fa.palette-icon::before {
    content: "\f53f";
}

.fa.mail-icon::before {
    content: "\f0e0";
}

.fa.edit-icon::before {
    content: "\f044";
}

.fa.delete-icon::before {
    content: "\f1f8";
}